 html{
            scroll-behavior: smooth;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;   
        }
        button {
            padding: 1rem;
            border-radius: 1rem;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
        }
        h2 {
            text-align: center;
            color: rgb(11, 94, 146);
            font-size: 2rem;
            margin-top: 3rem;
        }
        body{
            background-color: lightgray;
        }

        /* hero-section */
        .hero-section {
            width: 100vw;
            height: 100vh;
            background: rgb(18, 18, 18) url("./images/background_img.jpg") no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .name-section {
            color: white;
            text-align: center;
        }

        .name-section h2 {
            color: white;
            font-size: 4rem;
            font-family: 'Lexend', serif;
            margin-bottom: 2rem;
        }
        .name-section h2::first-letter {
            font-size: 6rem;
            color: rgb(53, 163, 232);
        }
        .name-section p {
            opacity: 0.8;
            font-size: 1.5rem;
            font-family: cursive;
        }
        .name-section .know-more {
            box-shadow: 0.3rem 0.3rem 0.5rem rgb(25, 96, 140);
            background: linear-gradient(to left, rgb(10, 54, 71), rgb(93, 134, 182));
            color: white;
            display: block;
            margin-top: 5rem;
            animation: move 1.5s ease infinite;
            border: none
        }

        .hero-section .know-more:hover {
            box-shadow: 0.3rem 0.3rem 0.5rem rgba(25, 96, 140, 0.6);
            background: linear-gradient(to left, rgba(3, 44, 55, 0.8), rgba(75, 131, 200, 0.8));
        }
        @keyframes move {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-20%);
            }
            100% {
                transform: translateY(0);
            }
        }
        .social-media-links{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            position: absolute;
            bottom: 2rem;
            right: 2rem;
        }
        .social-media-links a:hover {
            transform: scale(0.8);
            transition: transform 0.2s ease-in-out;
        }

        /* hidden-description */
        .hidden-description {
            width:70vw;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            background-color: rgb(215 222 228);
            color: rgb(3, 9, 18);
            border-radius: 2rem;
            box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
            padding: 3rem;
        }
        .hidden-description p {
            width: 90%;
            font-size: 1.6rem;
            line-height: 2.3rem;
        }

        .hidden-description h3 {
            font-weight: bold;
            font-size: 2rem;
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        .skills-image {
            display: flex;
            justify-content: space-evenly;
            margin-top: -2rem;
        }

        .skills {
            display: flex;
            gap: 1.5rem;
            align-content: center;
            width: 35%;
            flex-wrap: wrap;
        }
        .inner-skills {
            width: auto;
            border: 2px solid rgb(3, 9, 18);
            border-radius: 3rem;
            padding: 0.5rem;
            animation: move 1.5s ease infinite;
            display: inline-block;
            text-align: center;
        }
        .hidden-description .close {
            width: 7rem;
            background-color: rgb(215 222 228);
            border: 0.2rem solid rgb(3, 9, 18);
            padding: 0.5rem;
        }
        .hidden-description .close:hover {
            transform: scale(0.9);
            transition: transform 0.2s ease-in-out;
        }
        .hidden-description img {
            width: 40%;
            height: 30%;
        }

        /* education-section */
         .education-section {
            margin-top: 3rem;
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-inline:1rem ;
        }
        .education-section section{
            width: 100%;
            background-color: rgba(185, 210, 225, 0.5);
            border-radius: 1rem;
            padding: 2rem;
            box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.1);
            
        }
        .education-section section p {
            font-size: 1.2rem;
            margin-top: 1rem;
            opacity: 0.8;
        }
        .education-section section:hover {
            transform: scale(0.9);
            transition: transform 0.2s;
        }
        .course,.year,.project-description a, .title,.form-elements label{     
            color: rgb(9, 80, 123);
        }
        .course {
            text-align: center;
            font-size: 1.6rem;
            margin-bottom: 2rem;
            font-family: 'Lexend', serif;
        }
        .year {
            font-weight: bold;
        }

        /* project-section */
        .project-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 2rem;
        }
        .project{
            display: flex;
            width: 90%;
            align-items: center;
            gap: 1rem;
        }
        .frame-img {
            flex-shrink: 0;
            width:30%;
            max-width: 80%;
            height: 250px;
            position: relative;
        } 
        .frame-img:hover {
            transform: scale(0.9);
            transition: transform 0.5s ease-in-out;
        } 
       .frame {
            width: 100%;
            height: 100%;
        } 

        .project-img {
            position: absolute;
            width: 83%;
            height: 76%;
            object-fit: cover;
            inset: 12% 0 0 9%;
        }

        .project-description {
            width: 90%;
            font-size: 1.2rem;
            line-height: 1.8rem;
            text-align: left;
            padding: 2rem;
        }

        .project-description p {
            margin-bottom: 1rem;
        }
        .title{
            font-weight: bold;
            font-size: 1.3rem;
        }
        .project-description a {
            text-decoration: none;            
        }
        .tech-stack{
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }
         .tech-stack section {
            width: auto;
            border: 0.1rem solid;
            padding: 0.3rem;
            border-radius: 1rem;
            font-size: 1.1rem;
            text-align: center;
        } 
        /* form-section */
        .contact-section{
            padding: 3rem;
            display: flex;
            justify-content:space-evenly;
            align-items: center;
        }
         .form-image img{
            width: 100%;
        }
        .form-elements{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            max-width: 500px;
        }
         .form-elements div{
            display: flex;
         }
        .form-elements label{
            font-size: 1.3rem;
            margin-right: 2rem;
            width: 15%;
        }
        input,textarea{
            width: 60%;
            padding: 0.5rem;
            border: none;
            border: 2px solid rgba(101, 158, 194, 0.5) ;
            background-color: rgba(150, 187, 210, 0.5);
        }
        input::placeholder,textarea::placeholder{
            font-size: 1rem;
            color: rgba(2, 41, 66, 0.5);
        }
        .form-elements button{
            width: 20%;
            border: 2px solid rgba(101, 158, 194, 0.5) ;
            background-color: rgba(150, 187, 210, 0.5);
            color:rgb(4, 57, 90); 
            padding: 0.5rem;
        }
         .form-elements button:hover{
             background-color: rgba(86, 139, 171, 0.5);
         }

         /* footer-section */
         footer{
            background-color: rgb(2, 33, 52); 
            margin:0 ;
            padding: 1rem;
            padding-top: 2rem;
            color: white;
            text-align: center;
            margin-top: 2rem;
         }
         .top{
            text-align: left;
            text-decoration: none;
            border: 2px solid rgba(165, 196, 216, 0.7);
            color: rgb(11, 75, 118);
            padding:0.5rem;
            border-radius: 1rem;
            font-size: 1.2rem;
            font-weight: bold;
            margin-left: 1rem;
            margin-bottom: 2rem;
            background-color:  rgb(137, 183, 213)
         }
         .social-media-links-footer{
            display: flex;
            gap: 1.5rem;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
         }
        footer a:hover{
            transform: scale(0.8);
            transition: transform 0.2s ease-in-out;
        }
         img {
            max-width: 100%;
            height: auto;
        }


         @media (max-width:540px) {
            .name-section h2{
                font-size: 2.5rem;
            }
            .name-section h2::first-letter{
                font-size: 3rem;
            }
            .name-section p{
                font-size: 1rem;
            }
            .name-section .know-more{
                font-size: 0.9rem;
                margin-left: 2rem;
                padding: 0.7rem;
            }
            .social-media-links{
                flex-direction: row;
            }
            .top{
                padding:0.2rem;
                border-radius: 0.5rem;
                font-size: 0.8rem;
                margin-bottom: 1.5
                rem;

                }
            
         }
         @media (max-width:650px){
            .form-image{
                display: none;
            }
            input,textarea{
                width: 100%;

            }
         }
         @media (max-width:890px){
            .hidden-description{
                padding: 2rem;
                border-radius: 1rem;
            }
            .hidden-description p{
                font-size: 1.2rem;
             }
             .hidden-description h3{
                font-size: 1.5rem;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
             }
            .skills {
                flex-direction: column;
                gap: 0.5rem;
                align-content: center;
                margin-top: 1rem;
            }
            .inner-skills{
                padding: auto;
            }
            .special-skills{
                display: none;
            }
            .hidden-description img{
                width: 55%;
            }
            .hidden-description .close{
                width: 5rem;
                margin-top: 2rem;
            }
            .education-section{
                flex-direction: column;
                align-items: center;
                width: 90%;
            }
            .course{
                font-size: 1.5rem;
            }
         }

        @media (max-width:490px) {
            p{
                font-size: 1rem;
                line-height: 1.5rem;
            }
           .project-description{
            font-size: 1rem;
            padding: 1rem;
           }
            .title{
                font-size: 1.2rem;
            }
            h3,h3{
                font-size: 1.2rem;
            }
        }  
        @media (max-width: 768px) {
            .project {
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .frame-img {
                width: 80%;
                height: auto;
            }
            .skills {
                width: 100%; 
                justify-content: center;
            }

            .skills-image {
                flex-direction: column;
                align-items: center;
            }

            .inner-skills {
                padding: 0.5rem 1rem;
                max-width: 100%;
                text-align: center;
                word-break: break-word;
            }
        }
       
        @media (max-width: 650px) {
            .form-elements div {
                flex-direction: column;
            }
            .form-elements label {
                margin-bottom: 0.5rem;
                width: 100%;
            }
        }


      
         
